@page
@model PrivacyModel
@{
	ViewData["Title"] = "Про Нас";
}
<div class="mainContent boxConteiner">
	<div class="leftPart">
		<h2>Хто ми</h2>

		<p>
			БЛАГОДІЙНИЙ  ФОНД «АТЛАНТ ХЕЛП» є благодійною організацією, яка об’єднує на засадах добровільності рівноправності та самоврядування людей різних вікових категорій
			та соціальних верств для надання гуманітарної та фінансової допомоги громадянам, резидентам країни, іноземцям та особам без громадянства,
			які постраждали внаслідок воєнних дій, антитерористичної операції.
		</p>
		<div>
			<h2>Цілі Фонду:</h2>
			<ul>
				<li>
					Збір та акумуляція коштів для проведення благодійних заходів.
				</li>
				<li>
					Організація і здійснення пошуку узагальнення, розробка та втілення вітчизняних та зарубіжних програм та методик у галузі роботи з дітьми та молоддю та інших верств населення.
				</li>
				<li>
					Покращення матеріального становища осіб, потребуючим соціального захисту, дітей-сиріт, дітей-інвалідів, талановитої молоді та інших набувачів благодійної допомоги.
				</li>
				<li>
					Сприяння соціальній реабілітації малозабезпечених, безробітних, інвалідів, інших осіб, які потребують піклування, а також подання допомоги особам, які через свої фізичні або інші вади обмежені в реалізації своїх прав і законних інтересів.
				</li>
			</ul>
		</div>
	</div>

	<div class="rightPart"></div>
</div>
<div class="goalFoundation">
	<h3>Мета Фонду</h3>
	<div>
		<p>
			Засновниками благодійного фонду «Атлант Хелп » є люди, яким небайдужа доля кожної дитини зокрема і підростаючого покоління в цілому,
			які мають велике бажання допомагати тим, хто цього потребує, а саме: самотнім матерям, дітям з інвалідністю та їхнім сім’ям, дітям,
			чиї батьки загинули під час війни, ЗСУ, а також дітям з дитячих будинків та малозабезпечених сімей.
		</p>
		<p>
			Допомагаючи їм, ми зміцнюємо суспільство. Наш фонд є неурядовою, незалежною і некомерційною організацією, діяльність якої поширюється на всю територію України.
			Тож запрошуємо всіх небайдужих долучатися до нашої справи, щоб разом змінювати цей світ на краще!
		</p>
	</div>
</div>
<div class="goalFoundationBottom">
	<p>
		Свою діяльність ми присвячуємо людям, які самостійно не можуть
		подолати свої життєві труднощі, подолати душевний чи фізичний біль, побороти хвороби і бідність.
	</p>
	<p>
		Ми відкриті для всіх і стараємось почути і підтримати кожного.
		Наше завдання надавати дітям, що опинилися у складних життєвих обставинах, необхідну допомогу та сприяти їх розвитку і повноцінному становленню.
	</p>
	<p>Благодійний фонд «Атлант Хелп » допомагає тим, хто цього потребує і надає можливості робити добрі справи всім, хто може допомагати.</p>
	<p>
		Наше благодійництво прозоре, підзвітне та відповідальне Ми віримо, що чим більше людей прийме в своє серце благодійність, тим більше процвітати Україна.
	</p>

</div>
<div id="founders" class="OurFounders ">
	<hr />
	<h3>Засновники Фонду</h3>
	<div class="sectionBIO ">
		<div class="founderBIO">
			<div class="founderImg"><img class="img-responsive" src="/images/founderValerie.png" /> </div>
			<span>Валерій Сергійович</span>
		</div>
		<div class="founderBIO ">
			<div class="founderImg"><img class="img-responsive" src="" /> </div>
			<span>Тетяна Миколаївна</span>
		</div>
	</div>
	<hr />
</div>

<div class="ourPartners">
	<hr />
	<h3>Наші Партнери</h3>
	<div class="parner">
		<div class="partnerImg">
			<img class="img-responsive" src="/images/partnerImg-1.jpg" />
		</div>
		<span>Графічний дизайнер</span>
		<div class="partnerReference">
			<a href="https://www.instagram.com/skalska_grafik/" class="reference "><i class="bi bi-facebook"></i></a>
			<a href="https://www.instagram.com/skalska_grafik/kd" class="reference "><i class="bi bi-instagram"></i></a>
		</div>
	</div>
	<hr />
</div>

