h3 {
    font-size: 2rem;
}

#topicName {
    margin-top: 10px;
    color: var(--text-color);
    /* text-shadow: 0px 0px 10px grey; */
}

@media (min-height:768px) {
    #topicName {
        color: white;
        text-shadow: 0px 0px 10px grey;
    }
}

#listLink {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#listLink h3 {
    color: white;
    text-shadow: 0px 0px 10px grey;
}

.donationLink {
    border: 3px solid rgb(109 199 46);
    outline: 1px solid rgb(0 0 0 / 10%);
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px 1px rgb(109 199 46 / 20%);
    display: inline-block;
}



.donationLink:hover {
    text-decoration: none;
}


#mainInfo {
    background: white;
    padding: 20px;
    margin: auto;
    width: fit-content;
    text-align: justify;
}

#mainInfo * {
    margin: 5px;
}

#mainInfo p {
    opacity: 0.9;
}

#mainInfo h3 {
    font-weight: bold;
}

#mainInfo i {
    color: #FF341F;
}


.bankName {
    font-weight: bold;
    opacity: 0.9;
}


@media (max-width: 450px) {
    #topicName {
        font-size: 4vh;
    }

}

@media (max-width: 400px) {
    #mainInfo {
        font-size: 0.8rem;
    }

    #mainInfo h3 {
        font-size: 1rem;

    }

}