@page
@model IndexModel
@{
	ViewData["Title"] = "Головна сторінка";
}
@section Scripts
	{
	<script src="~/js/index.js"></script>
}

	<div class="mainContent blockStyle">

		<h2>Напрями Фонду </h2>
		<div class="form">

			<div class="fondDirection">
				<button class="btn-1" id="btn-1">Допомога Дітям</button>
				<button class="btn-2" id="btn-2">Допомога Військовим </button>

			</div>

			<div class="donateInfo" style="display: none;">

				<div class="changingPart" id="changingPart">
				</div>
				<div class="staticPart">

					<p>
						У свою чергу, беремо на себе зобов’язання розмістити логотип Вашої компанії та інформацію про Вас на нашій сторінці в Інстаграм, Фейсбук та сайті Благодійного Фонду «АТЛАНТ ХЕЛП», як партнера, а також на інформаційних матеріалах при проведенні масових заходів в Україна та закордоном, на фоновому банері при проведенні прес-конференцій та публічних нарад.
						Ваша мінімальна допомога, може максимально зберегти життя та здоров’я наших військових та державний суверенітет України.
						Щиро сподіваємось на Вашу чуйність та небайдужість. Долучайтесь будь-ласка до допомоги!
					</p>
				</div>
				<button class="closeForm"><i class="icon ion-close-round" title="Закрити"></i></button>
			</div>

		</div>

	</div>
	<div class="imageArea blockStyle">
		<div class="aboutUsShort">

			<h2>Коротко про нас</h2>
			<p>
				Атлант Хелп є фондом спрямованим на надання благодійної, матеріальної, фінансової, соціальної, духовної
				допомоги та різних послуг дітям,молоді та одиноким особам похилого віку,
				а також особам, які їх потребують допомоги та охорони довкілля, захист тварин.
			</p>
			<p>
				Цілями Фонду є надання благодійної допомоги фізичним особам, територіальним громадам, неприбутковим
				організаціям,
				Збройним Силам України, іншим військовим формуванням, правоохоронним (спеціальним) органам, органам
				цивільного захисту,
				добровольчим формуванням територіальних громад, іншим особам,
				які забезпечують чи забезпечували національну безпеку і оборону (учасники бойових дій, учасники операції
				об’єднаних сил).
			</p>

		</div>
	</div>
	<div id="newsBlock" class="blockStyle">
		<h2>Новини</h2>
		<div id="mainNews" class="news">
			<img class="firstImg" src="~/images/newsBucha-2.jpg" />
			<div id="mainNewsText">
				<p id="text">Свято для дітей з Бучі, які невтомно збирали гроші для ЗСУ </p>
				<p id="date">14.08.2022</p>
				<a href="https://www.facebook.com/atlanthelp.kiev.ua/posts/pfbid0253GpYDYSBnAuCkbQMeXeJcbApm1A7iWoFX5MQGpjPnfxckH72jRoJkaqsmCWNwul?__cft__[0]=AZVxlzo6rI9R6e8eP4zvGQEGDosu8ZgPa7nxomUPyCv2Se8FG9mNwA8IrYM3OQM6m5BJT6NrobMLSfEvONZX6cNVy1K9zSuuO-_PxZANg0ma-mHxEKP0itdKrnJYoYFkkdDCPL1fYclhWx2UuT-Y-sh_W1hMrhnOHQ67stLImy7qqU7o0qm3f5PQyL1qWRTcDKbebE4cfYwMC_9DFWNgotAY&__tn__=%2CO%2CP-R" target="_blank"> Подробиці</a>
			</div>
		</div>
	</div>

